.new-card__form {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  min-height: 50vh;
}

.new-card__button-answer {
  background: var(--secondary);
  color: var(--white);
  border: none;
  margin: 2rem 2rem;
  padding: 1rem;
}
